<!-- Section for searching events -->
<h1>Upcoming Events</h1> <!-- Heading indicating the content of the section -->
<ul class="search-form">
    <li>    
        <!-- Form for searching events by title -->
        <form id="search-site" action='/events/search/:query' method='get'>
            <div class="input-group">
                <i class="fas fa-search fa-large"></i> <!-- Search icon -->
                <div class="input-field">
                    <input id="search" type="search" name='query' placeholder="Search by title"> <!-- Input field for search query -->
                    <label class="label-icon" for="search"></label>
                </div>
                <button type="submit" class="input-group-addon btn blue">search</button> <!-- Submit button for search form -->
            </div>
        </form>  
    </li>   
</ul>

<!-- Add a modal for displaying messages -->
<div id="message-modal" class="modal">
    <div class="modal-content">
        <h4>Permission Denied</h4>
        <p>Only admins are allowed to edit or delete events.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Go Back</a>
    </div>
</div>

<!-- Container for displaying upcoming events -->
<div class="row">
    {{#each events}} <!-- Loop through each event -->
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="img-fluid equal-size" alt="{{title}}" src="/images/hult-graduation2-1440x810.jpg">
                {{#if user}} <!-- Check if user is logged in -->
                    {{#if user.isAdmin}} <!-- Check if the logged-in user is an admin -->
                        <a href="/events/edit/{{_id}}" class="btn blue btn-edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Form for deleting the event -->
                        <form action="/events/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <!-- Delete button for the event -->
                            <button type="submit" class="btn red btn-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    {{else}}
                        <!-- Display a message for non-admin users -->
                        <a class="btn blue btn-edit modal-trigger" href="#message-modal">
                            <i class="fas fa-edit"></i>
                        </a>

                        <!-- Form for deleting the event -->
                        <form action="/events/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <!-- Delete button for the event -->
                            <button type="submit" class="btn red btn-delete modal-trigger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    {{/if}}
                {{/if}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5> <!-- Title of the event -->
                <p>{{stripTags (truncate body 150)}}</p> <!-- Display truncated body of the event -->
                <br>
                <div class="chip">
                     <img class="img-fluid equal-size" src="/images/profilepic.jpg">
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/events/{{_id}}" class="btn grey">Read More</a> <!-- Button to view more details about the event -->
            </div>
        </div>
    </div>
    {{else}}
    <p>No Events to display</p> <!-- Display a message if there are no events to show -->
    {{/each}}
</div>

<!-- Script for initializing the modal -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
